# Introduction to R

## Up to you 1: Loading our first package

Load the tidyverse package

## Vectors

In [10]:
c(1.2, 1.3, 1.4) #numericVector

c(TRUE, FALSE) #logicalVector

[1] 1.2 1.3 1.4

[1]  TRUE FALSE

In [11]:
rep(10,4)

[1] 10 10 10 10

In [12]:
seq(1,100,10)

 [1]  1 11 21 31 41 51 61 71 81 91

In [15]:
vec = c(1:10, 1:5)

In [16]:
length(vec)
summary(vec)
head(vec, 3)
tail(vec, 3)

[1] 15

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  1.000   2.500   4.000   4.667   6.500  10.000

[1] 1 2 3

[1] 3 4 5

In [17]:
min(vec)
max(vec)
sum(vec)
sum(vec[vec>=5])
mean(vec)
quantile(vec)

[1] 1

[1] 10

[1] 70

[1] 50

[1] 4.666667

  0%  25%  50%  75% 100%
 1.0  2.5  4.0  6.5 10.0

## More Vector Manipulations

In [ ]:
x <- 1:5;

In [21]:
x <- 1:5;
sample(x, 4)
sample(x, 6, replace = TRUE)

[1] 3 1 4 2

[1] 4 3 2 1 4 4

In [23]:
paste(LETTERS[1:3], 1:6, sep="")
paste(rep("A", times=6), 1:6, sep="")

[1] "A1" "B2" "C3" "A4" "B5" "C6"

[1] "A1" "A2" "A3" "A4" "A5" "A6"

## Up to you 2: Throw the dice

### Create a vector to mimick throws with a standard dice with 100, 1000 and 10000 throws. Save these simulations as individual vectors (named sim100, sim1000 and sim10000)

In [ ]:
sim100 = 0
sim1000 = 0
sim10000 = 0

### For each simulation calculate the mean and the standard deviation of the throws

### Tabularize and summarize the 10000 throws data

## Data Frames

In [25]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [26]:
mtcars$mpg

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [27]:
df1 = data.frame(numbers=c(1,2,3), letters=c("a","b","c"))
df2 = data.frame(numbers=c(4), letters=c("d"))
rbind(df1,df2)

  numbers letters
1 1       a
2 2       b
3 3       c
4 4       d

In [28]:
df1 = data.frame(numbers=c(1,2,3,4))
df2 = data.frame(letters=c("a","b","c","d"))
cbind(df1,df2)

  numbers letters
1 1       a
2 2       b
3 3       c
4 4       d

## Up to you 4: Purchasing Data

### Load Data

In [30]:
purchase = read.csv2("purchaseorder.csv", header=TRUE, sep =";", dec=".")

### Inspect Data

### Run Analyses

## Up to you 5: Flights Data Analysis

### Load Data

In [35]:
library(nycflights13) #now you can access "flights"

### Find the following flights:
* To SFO or OAK
* In January
* Delayed by more than an hour
* That departed between midnight and five am
* Where the arrival delay was more than twice the departure delay

### Order the flights by departure date and time.
* Which flights were most delayed?
* Which flights caught up the most time during the flight?

### Create data pipelines to answer the following questions:

* Which destinations have the highest average delays?
* Which flights (i.e. carrier + flight) happen every day? Where do they fly to?
* Identify the most punctual airlines and the most punctual trips (origin â€“ destination combinations). (Narrow down to where # occurrences > 30)