*Managerial Problem Solving*

# Tutorial 6 - Statistical Programming with R

Toni Greif<br>
Lehrstuhl für Wirtschaftsinformatik und Informationsmanagement

SS 2019

## 1 Basics

### R packages
packages
Packages are collections of R functions, data, and compiled code in a well-defined format. Numerous packages are available for download and installation.
Example for installing and loading the “tidyverse” package (includes most packages we will need in the first weeks):

In [1]:
library(tidyverse)

Warning message:
"package 'tidyverse' was built under R version 3.5.3"-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.0     v purrr   0.2.5
v tibble  2.1.1     v dplyr   0.8.1
v tidyr   0.8.2     v stringr 1.3.1
v readr   1.1.1     v forcats 0.3.0
Warning message:
"package 'tibble' was built under R version 3.5.3"Warning message:
"package 'dplyr' was built under R version 3.5.3"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

### Typical summary functions 

- min(x), median(x), max(x),
- quantile(x, p)
- n(), n_distinct(x), sum(x), mean(x)
- sum(x > 10), mean(x > 10)
- sd(x), var(x), iqr(x), mad(x)

### R cheatsheets

https://www.rstudio.com/resources/cheatsheets/

## 2 Vectors
### Exercises

Create a sequence with the even numbers from 20 to 50 and calculate the mean.

In [2]:
numbers <- seq(20,50,2)

In [3]:
numbers

 [1] 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

How many numbers are in this sequence?

In [4]:
length(numbers)

[1] 16

Create three vectors x, y, z containing colors (string), ID's (integer), weights (kg as decimal number). Combine these three vectors to become a 3×3 matrix where each column represents a vector.

In [5]:
x <- c('red','blue','green')
y <- c(1,7,9)
z <- c(1.2,3.0,3.7)

In [6]:
matrix <- cbind(x,y,z)

In [7]:
matrix

     x     y z
[1,] red   1 1.2
[2,] blue  7 3
[3,] green 9 3.7

### European roulette

In European roulette, the ball takes a number between 0 and 36 with equal probabilities.
Create a vector to mimic 100,000 spins.

In [8]:
fields <- 1:36

Get the documentation for the sample function:

In [9]:
?sample

In [10]:
output <- sample(fields, 100000, replace = T )

 Use the output vector to answer the following questions. What would be your payout if:

1. You always bet 1€ on the number 7. (Betting the correct number offers a payout of 35:1)
2. You always bet 1€ on an odd outcome. (Betting the correct outcome offers a payout of 1:1)
3. You always bet 1€ on the square 4, 5, 7, 8. (Hitting a number in the square offers a payout of 8:1)

In [11]:
sum(ifelse(output==7,35,-1))

[1] 1376

In [12]:
sum(ifelse(output %% 2 == 1, -1, 1))

[1] 82

In [13]:
sum(ifelse(output %in% c(4,5,7,8), 8, -1))

[1] -1009

## 3 Data Frames

A data frame is used for storing data tables
It is a list of vectors of equal length.

### The dplyr package

- Going forward, we will heavily rely on the dplyr for data manipulations
- dplyr is “a fast, consistent tool for working with data frame like objects, both in memory and out of memory.“
- dplyr offers a set of simple verbs and actions as well as embodying the split-apply-combine approach for data frames

We transform our matrix into a dataframe:

In [14]:
df <- data.frame(matrix)
colnames(df) <- c('color', 'id', 'weight')
df

  color id weight
1 red   1  1.2
2 blue  7  3
3 green 9  3.7

Add a dummy price per kg to each row:

In [15]:
price <- c(7,5,3)
mutate(df, price)

  color id weight price
1 red   1  1.2    7
2 blue  7  3      5
3 green 9  3.7    3

Add a column with the total price to the dataframe:

In [16]:
df$weight <- as.numeric(df$weight)
mutate(df, total_price = weight*price)

  color id weight total_price
1 red   1  1       7
2 blue  7  2      10
3 green 9  3       9

### Exercises
The file “homicide.csv” provides information on homicides in the United States since 1976. This data set includes the age, race, sex, ethnicity of victims and perpetrators, in addition to the relationship between the victim and perpetrator and weapon used.

Load the data set from the csv file and store it as data frame “homicides”.

In [17]:
file_path = 'data/T06/homicide.csv'

In [18]:
?read.csv2

In [19]:
homicides <- read.csv2(file_path)

Inspect the first 3 entries of the data set and provide the number of rows and the number of columns.

In [20]:
head(homicides, 3)
nrow(homicides)
ncol(homicides)

  X Record.ID Agency.Code Agency.Name Agency.Type      City      State  Year
1 1 1         AK00101     Anchorage   Municipal Police Anchorage Alaska 1980
2 2 2         AK00101     Anchorage   Municipal Police Anchorage Alaska 1980
3 3 3         AK00101     Anchorage   Municipal Police Anchorage Alaska 1980
  Month   Incident ... Victim.Ethnicity Perpetrator.Sex Perpetrator.Age
1 January 1        ... Unknown          Male            15
2 March   1        ... Unknown          Male            42
3 March   2        ... Unknown          Unknown          0
  Perpetrator.Race              Perpetrator.Ethnicity Relationship
1 Native American/Alaska Native Unknown               Acquaintance
2 White                         Unknown               Acquaintance
3 Unknown                       Unknown               Unknown
  Weapon        Victim.Count Perpetrator.Count Record.Source
1 Blunt Object  0            0                 FBI
2 Strangulation 0            0                 FBI
3 Unknown       0            0                 FBI

[1] 229843

[1] 25

Assume that grown up perpetrators (21 and older) have to go to jail for 30 years while minor perpetrators have to go to jail for 15 years: a. Create a new variable ('prisonTime') holding the prison time for each homicide.

In [21]:
homicides <- mutate(homicides, prisonTime = ifelse(Perpetrator.Age >= 21, 30, 15))
head(homicides)

  X Record.ID Agency.Code Agency.Name Agency.Type      City      State  Year
1 1 1         AK00101     Anchorage   Municipal Police Anchorage Alaska 1980
2 2 2         AK00101     Anchorage   Municipal Police Anchorage Alaska 1980
3 3 3         AK00101     Anchorage   Municipal Police Anchorage Alaska 1980
4 4 4         AK00101     Anchorage   Municipal Police Anchorage Alaska 1980
5 5 5         AK00101     Anchorage   Municipal Police Anchorage Alaska 1980
6 6 6         AK00101     Anchorage   Municipal Police Anchorage Alaska 1980
  Month   Incident ... Perpetrator.Sex Perpetrator.Age
1 January 1        ... Male            15
2 March   1        ... Male            42
3 March   2        ... Unknown          0
4 April   1        ... Male            42
5 April   2        ... Unknown          0
6 May     1        ... Male            36
  Perpetrator.Race              Perpetrator.Ethnicity Relationship
1 Native American/Alaska Native Unknown               Acquaintance
2 White                         Unknown               Acquaintance
3 Unknown                       Unknown               Unknown
4 White                         Unknown               Acquaintance
5 Unknown                       Unknown               Unknown
6 White                         Unknown               Acquaintance
  Weapon        Victim.Count Perpetrator.Count Record.Source prisonTime
1 Blunt Object  0            0                 FBI           15
2 Strangulation 0            0                 FBI           30
3 Unknown       0            0                 FBI           15
4 Strangulation 0            0                 FBI           30
5 Unknown       0            1                 FBI           15
6 Rifle         0            0                 FBI           30

Calculate the mean prison time by using the individual column 'prisonTime'

In [22]:
mean(homicides$prisonTime)

[1] 23.42075